
body{
background: #C9D6FF;
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
@font-face {
font-family:"alarm clock";
src:url("/parkingFront\src\app\clock\alarm_clock.eot?") format("eot"),
url("/parkingFront\src\app\clock\alarm_clock.woff") format("woff"),
url("/parkingFront\src\app\clock\alarm_clock.ttf") format("truetype"),
url("/parkingFront\src\app\clock\alarm_clock.svg#alarmclock") format("svg");
font-weight:normal;
font-style:normal;
}
h3,a{font-family: 'alarm clock';}
