<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="modal-header">
    <h4 class="modal-title" style="float:center" ><i class="fa fa-exclamation-triangle"></i>     <strong>¡Aviso Kings Park!</strong>  <i class="fa fa-comments"></i></h4>
  </div>
  <div class="modal-body">
    <p><strong>Realmente desea Sacar el vehiculo con placa {{datar.vehicule.license}}?</strong> </p>
  </div>
  <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updatePost(datar)" mat-dialog-close>Continuar</button>
    <button type="button" class="btn btn-secondary" mat-dialog-close>Cancelar</button>
  </div>
</body>

</html>
