body {
   height: 100%;
   background-image: url("../../src\assets\floating-geometric-shapes-wallpaper-1920x1200.jpg");
}

.bg {
    /* The image used */
    background-image: url("../../src\assets\minimal-Wallpaper-001.jpg");

    /* Half height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    background-image: url("../../src\assets\tumblr_o5bntvT6VI1uj7diuo1_500.gif");
    background-color: #17234E;
    margin-bottom: 0;`enter code here`
    min-height: 100%;


    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
}
.dd{
     height:40em; background-size:cover; width:auto;
     background-image:url('../../src\assets\Dark-Abstract-Background-17.jpg');
     background-position:100% 100%;
   }
