


<form [formGroup]="form" (ngSubmit)="createPost(license,cilin)">
  <div *ngIf="form.errors" class="alert alert-danger">
    the username or password is invalid
  </div>
  <br>
<h2><font color="white"><strong>Registro de Vehiculo:</strong></font></h2>
<br>
  <div class="form-group">
    <label for="placa"><font color="white"><strong>Placa:</strong></font></label>
    <input #license formControlName="placa" id="placa" type="text" class="form-control" pattern="[a-zA-Z]{3}[0-9]{2}([a-zA-Z]{1}|[0-9]{1})">
    <div *ngIf="placa.pending" class="">
      loading....
    </div>
    <div *ngIf="placa.touched && placa.invalid" class="alert alert-danger">
      <div *ngIf="placa.errors.required">
        Placa Requerida
      </div>
      <div *ngIf="placa.errors.minlength || placa.errors.maxLength">
        username should be minimum {{placa.errors.minlength.requiredLength}} charac and the max also 6
      </div>
      <div *ngIf="placa.errors.cannotContainSpace">
        Username cannot contain space
      </div>
      <div *ngIf="placa.errors.shouldBeUnique">
        Username is already taken.
      </div>
      <div *ngIf="placa.errors.pattern">
        Texto Ingresado no corresponde al patron de una Placa ...... Ej(CARRO)=BUP960 .... Ej(MOTO)=BIP77H
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="tipo"><font color="white"><strong>Tipo:</strong></font></label>
    <select class="form-control" id="tipo" name="tipo" formControlName="tipo" #valordelTipo>
      <option value=""></option>
      <option value="Carro">Carro</option>
      <option value="Moto">Moto</option>
    </select>
  </div>

    <div [hidden]="!cambioTipo(valordelTipo.value)" class="form-group">
    <label for="cc"><font color="white"><strong>Cilindraje:</strong></font></label>
    <input #cilin formControlName="cc" id="cc" type="number" class="form-control">
  </div>
<div class="wrapper">
  <button class="btn btn-primary btn-lg" type="submit"  >Ingresar</button>
</div>


<div class="wrapper">
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" ></mat-progress-spinner>
</div>


<br>
<h2><font color="white"><strong>Estado del Parqueadero:</strong></font></h2>

<br>

  <div  class="form-group">
    <table   class="table table-striped table-dark">
      <thead>
        <tr>

          <th scope="col"><i class="fa fa-road"></i></th>
          <th scope="col">Placa</th>
          <th scope="col">Tipo de Vehiculo</th>
          <th scope="col">Hora de Entrada</th>
          <th scope="col">Salir</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let post of posts">

          <th><i *ngIf="post.vehicule.typeV==='MOTO'" class="fa fa-motorcycle"></i><i *ngIf="post.vehicule.typeV==='CARRO'" class="fa fa-car"></i></th>

          <td>{{ post.vehicule.license }}</td>
          <td>{{ post.vehicule.typeV }}</td>
          <td>{{ post.dateIn }}</td>
          <td><i md-raised-button (click)="confirmacion(post)" class="fa fa-times-circle " style="float: center;"></i></td>

        </tr>
      </tbody>
    </table>

  </div>


</form>
