

require("\parkingFront\node_modules\ng2-toastr\bundles/ng2-toastr.min.css")

.container {
text-align: center;
width: 100%;
}
.container th {
font-weight: bold;
font-size: 1.2em;
text-align: center;
color: white;
background-color: #424242;
}

.container td {
font-weight: normal;
font-size: 1em;
box-shadow: 0 1px 1px -1px #870000;
}

.container td, .container th {
padding-bottom: 1%;
padding-top: 1%;
padding-left: 1%;
}
.fa{

  cursor:pointer;

}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
