<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <div class="modal-header">
        <i class="fa fa-clipboard"></i>


        <h4 class="modal-title"><strong>Ticket de Parqueo</strong></h4>
        <i class="fa fa-clipboard"></i>



      </div>

        <div class="modal-body">
          <p><strong>Placa:</strong> {{datar.vehicule.license}}</p>
          <p><strong>Tipo:</strong> {{datar.vehicule.typeV}}</p>
          <p [hidden]="datar.vehicule.cc===null"><strong>Cilindraje:</strong> {{datar.vehicule.cc}}</p>
          <p><strong>Fecha de Entrada:</strong> {{datar.dateIn}}</p>
          <p><strong>Fecha de Salida:</strong> {{datar.dateOut}}</p>
          <p><strong>Total a Cobrar:</strong> {{datar.bill}}$</p>

          <i class="fa fa-cc-visa" style="float: left;"></i>
          <i class="fa fa-cc-mastercard" style="float: left;"></i>
          <i class="fa fa-cc-paypal" style="float: left;"></i>
          <i class="fa fa-cc-amex" style="float: left;"></i>
          <i class="fa fa-cc-diners-club" style="float: left;"></i>

        </div>



      <br>



      <div class="modal-footer">

        <button type="button" class="btn btn-primary" mat-dialog-close  >Cerrar</button>
      </div>



  </body>
</html>
