.fa{
  font-size: 2.5em;

  }
.dd{
       height:40em; background-size:cover; width:auto;
       background-image:url('/../src\assets\Dark-Abstract-Background-17.jpg');
       background-position:100% 100%;
     }
.bg {
         /* The image used */
         background-image: url("/../src\assets\minimal-Wallpaper-001.jpg");

         /* Half height */
         height: 50%;

         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
     }
.modal-body{
   background-image: url('https://www.supercars.net/blog/wp-content/uploads/2018/02/ferrari_488_pista_1.jpg');
   height: 50%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
